body{

background:#f4f6f9;

}

.login-body{

display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:linear-gradient(120deg,#2980b9,#6dd5fa);

}

.login-box{

background:white;
padding:40px;
border-radius:10px;
width:320px;

}

.upload-box{

border:2px dashed #999;
padding:30px;
text-align:center;
background:#fafafa;

}